<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Album" alias="Album"/>
        <typeAlias type="lt.vu.mybatis.model.Song" alias="Song"/>
        <typeAlias type="lt.vu.mybatis.model.Artist" alias="Artist"/>
        <typeAlias type="lt.vu.mybatis.model.AlbumContributor" alias="AlbumContributor"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="ArtistsDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/AlbumMapper.xml"/>
        <mapper resource="mybatis.xml/SongMapper.xml"/>
        <mapper resource="mybatis.xml/ArtistMapper.xml"/>
        <mapper resource="mybatis.xml/AlbumContributorMapper.xml"/>
    </mappers>
</configuration>